<html>
<head>
	<title>DropBy</title>
  <link href="css/DropByCSS.css" rel="stylesheet">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<center>
  <h2>Map View</h2>
</center>

<script src="https://code.jquery.com/jquery.js"></script>
<script src = "js/mapPage.js"></script>
<div>
  <div class="dropdown">
    <button class="dropbtn">Filter</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="food">Food</a>
      <a href="study">Study</a>
      <a href="show">Show</a>
      <a href="guestspeaker">Guest Speaker</a>
    </div>
  </div>
</div>

{{!-- <script src = "js/mapPage.js"></script> --}}

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="mySidepanel" class="sidepanel">
  <a class="closebtn" >×</a>
  <a href="#">Events List</a>
  <a href="#">Create Event</a>
  <a href="#">Your Events</a>
  <a href="#">View Map</a>
</div>

<button class="openbtn" >☰</button>  
<h2>This is where the map photo will go</h2>

</body>
</html>
